.idea
DeftSharp.Windows.Input/bin
DeftSharp.Windows.Input/obj
DeftSharp.Windows.Input.Tests/bin
DeftSharp.Windows.Input.Tests/obj
DeftSharp.Windows.Input.sln.DotSettings.user
WPF.Playground/bin
WPF.Playground/obj
.vs
/Test_polyfill/bin
/Test_polyfill/obj
DeftSharp.Windows.Input/DeftSharp.Windows.Input.csproj.user
